@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap');



body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2F2E41;
}

#img {
    display: flex;
    justify-content: center;

    padding: 10px;
}

#main {
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    align-items: center;
    margin-bottom: 350px;
    margin-top: 100px;
    gap: 10rem;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.right p {
    color: gray;
   
}


.right h1 {
    font-size: 40px;
    color: white;
}

p span {
    color: #00BFA6;
}


footer {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    align-items: center;
}

footer .text {
    display: flex;
    flex-direction: column;
}


div{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

div a {
    text-decoration: none;
    color: white;
}

hr {
    width: 480px;
    color: #00BFA6;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 3rem;
}

ul a {
    text-decoration: none;
    color: black;
}

ul strong {
    color: black  ;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

header h3 {
    color: #89C5CC;
}

main span {
    color: #89C5CC;
}


a {
    text-decoration: none;
    color: black;
}

.img {
    position: absolute;
    left: 0;
    padding: 10px;
    padding-left: 100px;
}

.text {
    display: flex;
    gap: 1.5rem;
}

@media screen and (max-width: 500px){
    
}